Package: steamgiftsbot
Version: 1.4.9-1
Maintainer: https://github.com/4815162342lost/steam_gifts_bot/issues
Architecture: all
Section: game
Description: bot for steamgifts website
 This is a bot for steamgifts website. See https://github.com/4815162342lost/steam_gifts_bot/ for more information
Depends: python3-requests, python3-bs4, python3-gi, python3-notify2
Installed-Size: 1024
